<h1>Timecard Categories</h1>

<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Description</td>
    </tr>
  </thead>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td><%= link_to 'Show', category %></td>
      <td><%= link_to 'Edit', edit_timecard_category_path(category) %></td>
      <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</table>

<%= link_to 'New Timecard Category', new_timecard_category_path %>
