<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <td>Employee ID</td>
      <td>First Name</td>
      <td>Last Name</td>
    </tr>
  </thead>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.id %></td>
      <td><%= employee.firstName %></td>
      <td><%= employee.lastName %></td>
      <td><%= link_to 'Show', employee %></td>
      <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
      <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</table>

<%= link_to 'New Employee', new_employee_path %>
